/* global styles */

@font-face {
    font-family: BoldPixels;
    src: url(./fonts/BoldsPixels.ttf);
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    background-color: #06070a;
    color: white;
    font-family: BoldPixels, "Courier New", Courier, monospace;
    letter-spacing: 0.1em;
    text-align: center;
}

li {
    list-style: none;
}

button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    color: inherit;
    font-family: inherit;
    letter-spacing: inherit;
}

img {
    display: block;
}

/* main */

.header {
    padding: 0.9375rem 1.875rem;
    text-shadow: 0 0.3125rem #a0c3ff40;
    font-size: 3.375rem;
}

.legendText {
    padding: 0.3125rem 1.25rem;
    font-size: 1.125rem;
}

#legendEmFire {
    color: #ffc45e;
    text-shadow: 0 0 1.6rem #ff4d00;
}

#legendEmIce {
    color: #64ebdb;
    text-shadow: 0 0 1.6rem #01b5b5;
}

#legendEmWater {
    color: #68c0ff;
    text-shadow: 0 0 1.6rem #0179b5;
}

.roundText {
    margin-top: 3.125rem;
}

.choicesContainer {
    padding: 2.1875rem 1.25rem 0.9375rem 1.25rem;
    justify-content: center;
    align-items: baseline;
    gap: 3.125rem;
}

.buttonContainer {
    padding: 0.625rem;
}

.gameButton {
    max-height: min-content;
}

.buttonImg {
    width: 9.375rem;
    image-rendering: pixelated;
}

.buttonSubtextContainer {
    min-height: 1.25rem;
}

.resetButton {
    padding: 0.3125rem 0.9375rem;
    border: 0.1875rem solid white;
    background-color: #06070a;
}

.winnerText {
    min-height: 3rem;
}

.scoreContainer {
    gap: 1.25rem;
    font-size: 1.75rem;
}

#humanScoreText {
    padding-right: 0.9375rem;
}

.footer {
    padding: 0.625rem 0;
}

.footerImg {
    width: 1.875rem;
}

/* shared styles */

.header,
.choicesContainer,
.resetButton {
    border: 0.3125rem solid white;
}

.header,
.resetButton {
    border-top: none;
}

.header,
.choicesContainer,
.resetButton {
    box-shadow: 0 0.3125rem #a0c3ff40;
}

.main,
.gameButton {
    flex: 1;
}

.main,
.choicesContainer,
.buttonContainer,
.scoreContainer,
.footer {
    display: flex;
}

.main,
.buttonContainer {
    flex-direction: column;
}

.main,
.footer {
    align-items: center;
}

.infoText,
.legendList,
.choicesContainer {
    margin-top: 1.25rem;
}

.infoText,
.legendText,
.scoreContainer {
    color: #acb2bf;
}

.infoText,
.legendEm,
.resetButton {
    font-size: 1.5rem;
}

.legendText,
.buttonSubtext {
    display: inline;
}

.legendText:nth-child(-n + 2),
#humanScoreText {
    border-right: 0.1875rem solid #acb2bf;
}

.roundText,
.winnerText {
    font-size: 3rem;
}

.roundText,
.winnerText,
.footer {
    text-shadow: 0 0.1875rem #a0c3ff40;
}

.buttonContainer,
.footer {
    gap: 0.625rem;
    font-size: 1.25rem;
}

.buttonImg,
.footerImg {
    height: auto;
}

.scoreContainer,
.winnerText {
    margin-top: 2.5rem;
}

/* js styles */

.winColor {
    color: #51c551;
    text-shadow: 0 0.1875rem #51c55140;
}

.loseColor {
    color: #ff3e3e;
    text-shadow: 0 0.1875rem #ff3e3e40;
}

.hidden {
    visibility: hidden;
}

.hoverActive:hover {
    transform: translateY(-0.3125rem);
}

/* media queries */

@media (max-width: 660px) {
    html {
        font-size: 14px;
    }
}

@media (max-width: 580px) {
    html {
        font-size: 12px;
    }
}

@media (max-width: 490px) {
    html {
        font-size: 10px;
    }
}

@media (max-width: 420px) {
    html {
        font-size: 8px;
    }
}